body {
    line-height: 2em;
    width: 600px;
}
.header404 {
    font-size: 8em;
    margin-top: 100px;
}

.sadgif {
    margin: 100px auto 0 auto;
}

#headshot {
    position: relative;
    left: 200px;
    bottom: 150px;
}

h1 {
    
}